extends ../layouts/layout.jade
block title
  title TOP
block content
  .row
    .col-md-6
      .panel.panel-default.l-panel-mock
        .panel-heading
          i.fa.fa-fw.fa-info-circle
          |  口座状況
        .panel-body
    .col-md-6
      .panel.panel-default.l-panel-mock
        .panel-heading
          i.fa.fa-fw.fa-inbox
          |  お知らせ
        .panel-body
  .row
    .col-md-12
      .panel.panel-default.l-panel-mock: .panel-body
  .row
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
