extends ./layouts/layout.jade
block title
  title TOP
block head-last
  link(rel="stylesheet" href="/css/index.css")
block content
  .row
    .col-md-6
      .panel.panel-default.l-panel-mock
        .panel-heading
          i.fa.fa-fw.fa-info-circle
          |  口座状況
        .panel-body
    .col-md-6
      .panel.panel-default.l-panel-info
        .panel-heading
          i.fa.fa-fw.fa-inbox
          |  お知らせ
        .panel-body
          ul.list-group
            li.list-group-item
              .row
                .col-xs-2: | 2015/09/11
                .col-xs-8: a(href="#") お客様の口座が○○の対象となりました。
                .col-xs-2: span.label.label-success New
            - each msg in ['','','','','']
              li.list-group-item
                .row
                  .col-xs-2: | 2015/09/10
                  .col-xs-8: a(href="#") お客様の口座が○○の対象となりました。
                  .col-xs-2
  .row
    .col-md-12
      .panel.panel-default.l-panel-mock: .panel-body
  .row
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body
    .col-md-4
      .panel.panel-default.l-panel-mock: .panel-body

block body-last
  script(src="/js/index.js")
